.image-container{
    height: 100%;
    width: 100%;
}
.image{
    width:70px;
    position: fixed;
}
.image-container img {
    display: inline-block; 
    margin-right: 20px; 
    animation: scrollImages 3s linear infinite; 
}

@keyframes scrollImages {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
